<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <Console name="consoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d: %-5p [%-8t] [%C{1}.%M():%L] - %m%n"/>
        </Console>
    </appenders>
    <loggers>
        <Root level="warn"> <!-- error, warn, info, debug -->
            <AppenderRef ref="consoleAppender" />
        </Root>
    </loggers>
</configuration>